*.swp
build/*
buildAndroid/*
config/*
extlibs/
log.txt
.ycm*
dependencies/built
dependencies/precompiledDependencies
dependencies/linuxBuild
dependencies/compiled
dependencies/sqlite3/
dependencies/sqlite-amalgamation-3270100.zip
